{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-4" style="flex-grow: 1;">
        <h1 class="mt-5">Mes dinos</h1>

        <hr/>

        <div class="dino-stats-container mt-2 p-3">
            <table class="table table-striped border shadow">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Espèce</th>
                        <th>Longeur <small>(m)</small></th>
                    </tr>
                </thead>

                <tbody>
                    {% for dino in dinos %}
                        <tr>
                            <td>{{ dino.name }}</td>
                            <td>{{ dino.genus }}</td>
                            <td>{{ dino.length }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}